@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}
/* YouTube / iframe size fix */
.news-content iframe {
  width: 100% !important;
  height: 420px !important;   /* FIXED HEIGHT */
  max-width: 100%;
  border-radius: 12px;
}

/* Mobile ke liye */
@media (max-width: 640px) {
  .news-content iframe {
    height: 240px !important;
  }
}

/* news content  */
.news-title {
  line-height: 1.3 !important;
  word-break: break-word;
}
.news-content {
  line-height: 1.55 !important;  
}

.news-content p {
  margin-bottom: 0.5rem !important; 
}

.news-content p:last-child {
  margin-bottom: 0 !important;
}

.news-content h2,
.news-content h3,
.news-content strong {
  display: block;
  margin-top: 0.75rem !important;
  margin-bottom: 0.25rem !important;
  line-height: 1.3 !important;
}
